.primary-button {
    color: var(--color-first);
    text-decoration:none;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    background-color: var(--color-secondary);
    border-radius: 4px;    
}