.main-stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.main-stage > .simple-title {
    font-size: 21px;
    margin-bottom: var(--gap-smaller);

}

.main-stage > .simple-subtitle {
    font-size: 15px;
    margin-bottom: var(--gap-big);
}

.main-stage > .primary-button {
    margin-bottom: var(--gap-smaller);
    width: 180px;
    height: 28px;
    text-align: center;
    line-height: 28px;
}